<h2>Parent</h2>

<section class="section-container">
  <h3>With in same component</h3>
  <ng-container
    [ngTemplateOutlet]="messageTemplate"
    [ngTemplateOutletContext]="{ $implicit: '1000' }"
  >
  </ng-container>

  <ng-template let-value #messageTemplate>
    <p>Value Received from the Parent is {{ value }}</p>
  </ng-template>
</section>

<section class="section-container">
  <h3>Passing plain template from parent to child</h3>
  <ng-template #plainParentTemplate>
    <p>
      This Template is defined in Parent. We will send it to child component
    </p>
  </ng-template>
  <app-child [customTemplate]="plainParentTemplate"></app-child>
</section>

<section class="section-container">
  <h3>Content projection from parent to child</h3>
  <app-child>
    <p>Using content projection we are passing data from parent to child</p>
  </app-child>
</section>

<section class="section-container">
  <h3>Display either card or list format</h3>
  <label for="mode">Display mode:</label>
  <select [(ngModel)]="mode">
    <option *ngFor="let item of modeOptions" [ngValue]="item.mode">
      {{ item.mode }}
    </option>
  </select>

  <ng-template let-items #cardTemplate>
    <div *ngFor="let item of items">
      <h2>{{ item.header }}</h2>
      <p>{{ item.content }}</p>
    </div>
  </ng-template>

  <ng-template let-items #listTemplate>
    <ul>
      <li *ngFor="let item of items">
        <strong>{{ item.header }} </strong> ( {{ item.content }} )
      </li>
    </ul>
  </ng-template>

  <ng-template let-items #tableTemplate>
    <table style="table">
      <thead>
        <th *ngFor="let col of cols">{{ col.header }}</th>
      </thead>

      <tbody>
        <ng-container *ngFor="let item of items">
          <tr>
            <ng-container *ngFor="let col of cols">
              <ng-container [ngSwitch]="col.componentType">
                <td *ngSwitchCase="'textbox'">
                  <ng-container *ngIf="col.isEditable; else readOnlyMode">
                    <input type="text" [id]="col.identifier" [value]="item[col.identifier]" >
                  </ng-container>
                  <ng-template #readOnlyMode>
                    <ng-container
                      [ngTemplateOutlet]="readonlyColTemplate"
                      [ngTemplateOutletContext]="{
                        $implicit: item[col.identifier],
                        identifier: col.identifier
                      }"
                    ></ng-container>
                  </ng-template>
                </td>
                <td *ngSwitchCase="'meatball'">its meatball</td>
                <td *ngSwitchDefault>
                  <ng-container
                    [ngTemplateOutlet]="readonlyColTemplate"
                    [ngTemplateOutletContext]="{
                      $implicit: item[col.identifier],
                      identifier: col.identifier
                    }"
                  ></ng-container>
                </td>
                <ng-template
                  #readonlyColTemplate
                  let-identifier="identifier"
                  let-rowData
                  > 
                  {{rowData ? rowData : '--'}}
                </ng-template>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-template>
  <app-child [items]="items" [itemTemplate]="selectedTemplate"> </app-child>
</section>
